nav ul li a:hover {
    color: gray;
}
header{
    background-color: white;
    margin-top: 25px;
}
.clr-blue{
    color: #5284B5;
}

@media screen and (max-width:991px) {
    header nav {
        position: absolute;
        top: 105%;
        right: 2rem;
        border-radius: .3rem;
        box-shadow: .5rem .5rem 0 rgba(5, 5, 5, .2);
        width: 15rem;
        background-color: #ffffff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    header nav.active {
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    header nav li a {
        display: block;
    }

    header nav ul {
        padding: 0.5rem;
    }
  
}


@media screen and (max-width:640px) {
    .logo{
        margin-right: 12px;
    }
    .search input{
        width: 200px;
        font-size: 0.75rem;
    }
    #search{
        line-height: 1.725rem;
    }
}

@media screen and (max-width:375px) {
    .logo{
        margin-right: 15px;
    }
    #search{
        line-height: 1.725rem;
    }
    .search input{
        width: 150px;
        font-size: 1rem;
    }
}
@media screen and (max-width:1500px) and (min-width: 1300px) {
    #header{
        padding: 20px 90px;
    }
    ul li{
        font-size: 24px;
    }
    #search{
        line-height: 2.725rem;
    }
  }
  @media only screen and (min-width: 1250px) and (max-width: 1366px) {
    /* Styles for laptops */
    #header{
        padding: 20px 90px;
    }
    ul li{
        font-size: 22px;
    }
    #search{
        line-height: 2.725rem;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1240px) {
    /* Styles for laptops */
    #header{
        
        padding-left: 72px;
    }
    ul li{
        font-size: 22px;
    }
    #search{
        width: 15rem;
    }
    #search{
        line-height: 2.725rem;
    }
  }
  @media only screen and (min-width: 1501px) {
    /* Styles for screens wider than 1500px */
    ul li {
      font-size: 26px;
    }
    #search{
        line-height: 2.725rem;
    }
    #header{
        
        padding: 5px 72px;
    }
  }