* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mukta;
  font-size: 11.1px;
  font-weight: 400;
  line-height: 18.45px;
  letter-spacing: 0.004em;
  text-align: left;
}
/* TopNavBar */
#TopBar {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  height: 80.28px;
  /* border: 1px solid red; */
  border-bottom: 0.85px solid rgba(224, 224, 224, 1);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  margin-left: 19.5rem;
}
#empty {
  width: 212.66px;
  height: 80.28px;
  border-right: 0.85px solid rgba(224, 224, 224, 1);
}
.search-bar{
  position: relative;
}
#search {
  width: 42vw;
  line-height: 25px;
  /* height: 35.02px; */
  padding: 5.98px 27.33px 6.04px 13.66px;
  border-radius: 5.12px;
  border: 0.85px 0px 0px 0px;
  margin-left: 13.67px;
  margin-top: 23.06px;

}
#imgsearch {
  width: 16.23px;
  height: 16.23px;
  position: absolute;
  top: 42%;
  right: -2%;
  transform: translatex(-200%);
}
.doctor {
  width: 91.29px;
  height: 50.33px;
  margin-top: 23.06px;
  margin-left: 20px;
}
.name {
  font-family: Mukta;
  font-size: 13.66px;
  font-weight: 400;
  line-height: 22.71px;
  letter-spacing: 0.0025em;
  text-align: right;
}
.category {
  font-family: Mukta;
  font-size: 13.66px;
  font-weight: 700;
  line-height: 22.71px;
  letter-spacing: 0.0025em;
  text-align: left;
}
.part2{
  display: flex;
}
.date {
  width: 119.57px;
  height: 35.02px;
  top: 23.06px;
  left: 911.27px;
  padding: 5.98px 12.61px 6.04px 11.96px;
  gap: 0px;
  border-radius: 5.12px;
  border: 0.85px solid rgba(224, 224, 224, 1);
  margin-top: 23.06px;
  margin-left: 20px;
}
.mail,
.message,
.logout {
  width: 25.62px;
  height: 25.62px;
  margin-top: 23.06px;
  margin-left: 30px;
}

/* ////SideNavBar */
.SideNavBar {
  width: 213.51px;
  height: 790.85px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.pointer {
  margin-left: 5px;
  height: 19px;
  width: 4px;
  color: blue;
}
.SideNavBar li {
  list-style-type: none;
  width: 184.47px;
  height: 38.43px;
  margin-top: 10px;
  margin-left: 18px;
  font-family: Mukta;
  font-size: 13.66px;
  font-weight: 400;
  line-height: 22.71px;
  letter-spacing: 0.0025em;
  text-align: left;
display: flex;
  top: 7.69px;
  gap: 8.54px;
}
li img {
  margin-right: 10px;
}
.Text {
  font-family: Mukta;
  font-size: 11.1px;
  font-weight: 400;
  line-height: 18.45px;
  letter-spacing: 0.004em;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}
.line {
  width: 146.9px;
  height: 2px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  margin-bottom: 25px;
}
.SideNavBar img {
  width: 20.5px;
  height: 20.5px;
}
/* Frame-49 */
.frame-49 {
max-width: 100vw;
  height: 50.39px;
  background: rgba(250, 250, 250, 1);

  font-family: Mukta;
  font-size: 15.37px;
  font-weight: 400;
  line-height: 25.55px;
  letter-spacing: 0.0015em;
  text-align: left;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 10px;
}
.part1 {
  display: flex;
}

/* Frame64....Offline Consultation */
/* Frame67....Online Consultation */
/* Frame68....Total Patients*/

.frame-64,
.frame-67,
.frame-68 {
  width: 312.58px;
  height: 166.54px;
  /* margin-left: 23.06px; */
  margin-top: 3px;
  border: 0;
}

.frame-68:hover,
.frame-64:hover,
.frame-67:hover {
  border: 3px solid rgba(47, 128, 237, 1);
  border-radius: 4.27px;
  transform-style: flat;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.head-text {
  font-family: Mukta;
  font-size: 18.79px;
  font-weight: 500;

  line-height: 31.23px;
  letter-spacing: 0.0015em;
  text-align: left;
}
.expandimg {
  width: 20.5px;
  height: 20.5px;
  margin-left: 10px;
}
.offlineData,
.onlineData,
.patientsData {
  display: flex;
  margin-left: 10px;

  width: 18.79px;
  height: 18.79px;
}
.count {
  font-family: Mukta;
  font-size: 32.45px;
  font-weight: 700;
  line-height: 53.94px;
  letter-spacing: 0.0025em;
  text-align: left;
  margin-left: 30px;
}
.offlineData,
.onlineData {
  width: 39px;
  height: 23px;
  align-items: center;
}
.uparrow {
  width: 8.54px;
  height: 8.54px;

  background: rgba(39, 174, 96, 1);
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 5px;
  border: 1.71px solid rgba(255, 255, 255, 1);
}
.percentage {
  font-family: Mukta;
  font-size: 13.66px;
  font-weight: 700;
  color: rgba(39, 174, 96, 1);
}
.offlineData .graph {
  width: 142.84px;
  height: 98.22px;
  margin-left: 60px;
  /* background: linear-gradient(
    163.71deg,
    #2f80ed -14.23%,
    rgba(217, 217, 217, 0) 64.18%
  ); */
  /* border: 0.85px solid rgba(47, 128, 237, 1); */
}
.onlinegraph {
  width: 142.84px;
  height: 98.22px;

  margin-left: 60px;
}
.patientWheel {
  position: relative;
  width: 142.84px;
  height: 98.22px;
  margin-left: 60px;
}

.innerText {
  display: flex;
  position: absolute;
  top: 35%;
  left: 50%;
  right: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-black {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.text-blue {
  color: #3b82f6;
  font-size: 12px;
  font-weight: bold;
}
.summary {
  /* display: flex; */
max-width: 100vw;
  height: 754px;
  background-color: #fafafa;
  margin: auto;
}
.threetabs {
  display: flex;
  max-width: 100vw;
  /* border: 1px solid red; */
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* gap: 5rem; */
}
.schedule {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 100vw;
  /* border: 1px solid blue; */
}



.Frame53 {
  width: 334.79px;
  height: 544.03px;
  border-radius: 4px;
  background-color: #ffffff;
  /* margin: auto; */
  position: relative;
}
.Frame53 .Header {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 35px;
}
.Frame53 .Header h4 {
  font-size: 14px;
  font-weight: 700;
  color: #1d1d1d;
}
.Frame53 .Header .right-part {
  width: 116px;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.Frame53 .Header .right-part h4 {
  font-size: 11px;
  font-weight: 600;
  color: #0000ac;
}

.Frame53 .timeline {
  margin: 10px;
  height: 450px;
  padding: 10px;
}
.Frame53 .timeline ul {
  display: flex;
}
.Frame53 .timeline ul li {
  font-size: 11px;
  font-weight: 400;
  list-style: none;
  color: #828282;
  height: 80px;
  border-right: 1px solid #e0e0e0;
  padding-right: 35px;
  position: relative;
}
.Frame53 .timeline ul li.active {
  font-size: 11px;
  font-weight: 400;
  list-style: none;
  color: #828282;
  height: 190px;
  border-right: 1px solid #e0e0e0;
  padding-right: 35px;
  position: relative;
}
.Frame53 .timeline ul li::after {
  content: "";
  position: absolute;
  width: 8.54px;
  height: 8.54px;
  background-color: #1d1d1d;
  border-radius: 50%;
  left: 56px;
}
.Frame53 .timeline ul .timings {
  display: flex;
  align-items: center;
  width: 200px;
  height: 20px;
  gap: 20px;
  margin-top: 8px;
}
.Frame53 .timeline ul .timings span {
  font-size: 9.39px;
  font-weight: 700;
  color: #828282;
  margin-left: 10px;
  position: relative;
}
.Frame53 .timeline ul .timings span::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 6px;
  background-color: #2f80ed;
  left: -8px;
  top: 1.8px;
  border-radius: 50px;
}
.Frame53 .timeline ul .timings .completed::before {
  background-color: #828282;
  width: 6px;
  height: 6px;
}
.Frame53 .timeline ul .timings .active::before {
  background-color: #27ae60;
  width: 6px;
  height: 5px;
}
.Frame53 .timeline ul .timings p {
  font-size: 9.39px;
  font-weight: 400;
  text-decoration: line-through;
  color: #828282;
}
.Frame53 .timeline ul .timings-active p {
  text-decoration: none;
  color: #1d1d1d;
}
.Frame53 .timeline ul .timings-active {
  width: 237.42px;
  height: 21.35px;
  display: flex;
  align-items: center;
  gap: 26px;
  margin-top: 5px;
  border-radius: 5.12px;
  border: 0.85px solid #e0e0e0;
  position: relative;
  margin-left: 2px;
}
.Frame53 .timeline ul .timings-active .polygon {
  position: absolute;
  left: -7px;
}
.Frame53 .timeline ul .timings-active .text {
  font-size: 7px;
  font-weight: 400;
  color: #828282;
}
.Frame53 .timeline ul .timings-active .arrow {
  margin-top: 5px;
}

.Frame53 .timeline ul .details {
  width: 237.42px;
  height: 105.05px;
  border-radius: 5.12px;
  border: 0.85px solid #e0e0e0;
  margin-left: 2px;
  margin-top: 5px;
  position: relative;
}
.Frame53 .timeline ul .details .patient {
  display: flex;
  gap: 30px;
  height: 20px;
  margin: 5px 2px;
  padding: 5px;
}
.Frame53 .timeline ul .details .patient h4 {
  font-size: 9.39px;
  font-weight: 600;
  color: #1d1d1d;
  width: 31px;
  height: 16px;
}
.Frame53 .timeline ul .details .patient span {
  font-size: 9.39px;
  font-weight: 400;
  width: 80px;
  height: 16px;
  color: #1d1d1d;
}
.Frame53 .timeline ul .details .linegap {
  width: 235.72px;
  height: 1px;
  background-color: #e0e0e0;
}
.Frame53 .timeline ul .details .bottom {
  display: flex;
  height: 25px;
  padding: 0 5px;
  gap: 50px;
}
.Frame53 .timeline ul .details .bottom .icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.Frame53 .timeline ul .details .bottom .beginbtn {
  width: 87px;
  height: 20px;
  border-radius: 3px;
  background-color: #0000ac;
  padding: 2px 8px;
  font-size: 9px;
  font-weight: 400;
  margin-top: 1px;
  color: #ffffff;
}

/* next */

.Frame-62 {
  height: 533px;
  width: 618px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
}
.Frame-62 .Heading {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}
.Heading h4 {
  margin-left: 19px;
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
}

.heading-right {
  display: flex;
  height: 20px;
  width: 80px;
  align-items: center;
  justify-content: space-between;
  margin-right: 19px;
}
.heading-right h4 {
  margin: 0;
  width: 50px;
  font-size: 10px;
  font-weight: 600;
  color: #0000ac;
}

.tasksbar {
  height: 90px;
  width: 590px;
  border: 1px solid #fafafa;
  border-radius: 4px;
  background-color: #fbfbfb;
  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-left {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 20px;
  margin-left: 15px;
}
.task-left .checkbox {
  width: 27.33px;
  height: 27.33px;
  margin-bottom: 15px;
}

.task-left .tasks h4 {
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0;
}
.task-left .tasks p {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
}
.task-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.task-right .dates {
  font-size: 11px;
  font-weight: 400;
  color: #4f4f4f;
}

.footer {
  width: 55px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  position: absolute;
  right: 20px;
}
.footer h4 {
  font-size: 10px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .parent {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
  }
  .Frame53 {
    border: 1px solid grey;
    width: 334.79px;
    max-height: 544.03px;
    /* border: 1px solid blue; */
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* background-color: blue; */
    margin: auto;
    margin-bottom: 4rem;
    position: relative;
  }
}
